@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  -webkit-tap-highlight-color: transparent;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: 'kern';
}

button {
  touch-action: manipulation;
}

::selection {
  background-color: rgb(199 210 254);
  color: rgb(30 27 75);
}

/* Oculta la barra de scroll de los contenedores con desbordamiento horizontal */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
